################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TDD.Kata.StringCalculator/TDD.Kata.StringCalculator/obj
/.vs/Kata-XP-NEORIS/v15/.suo
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/Kata-XP-NEORIS/v15/.suo
